<h1>Clothing Attributes And Categories Recognition (hierarchical approach)</h1>

<p>Wang Fan</p>
<hr />
<img src="http://i.imgur.com/jGIhHex.png"><br>
<img src="http://i.imgur.com/IuaXVTr.png">
<hr />

<h3>Clothing Attributes</h3>

<h4>Scale related attributes</h4>

<ul>
<li>Upper clothing(length)

<ul>
<li>Long (L)</li>
<li>Normal (N)</li>
<li>Short (S)</li>
</ul>
</li>
<li>Sleeve (length)

<ul>
<li>None (N)</li>
<li>Short (S)</li>
<li>Half (H)</li>
<li>Long (L)</li>
</ul>
</li>
</ul>


<h4>Shape related attributes</h4>

<ul>
<li>Collar

<ul>
<li>Round</li>
<li>V-Shape</li>
<li>Shirt-Collar</li>
<li>Stand-Collar</li>
<li>Flat-Collar</li>
<li>One-Shoulder</li>
</ul>
</li>
<li>Skirt

<ul>
<li>Yes (Y)</li>
<li>No (N)</li>
</ul>
<li>Tight

<ul>
<li>Yes (Y)</li>
<li>No (N)</li>
</ul>
</li>
<li>Visible button?

<ul>
<li>Yes (B)</li>
<li>No (N)</li>
</ul>
</li>
</ul>


<h4>Amount related</h4>

<ul>
<li>Items count

<ul>
<li>1</li>
<li>2</li>
</ul>
</li>
</ul>

<h4>Pattern and parameters</h4>
<img src="http://i.imgur.com/amvzbHV.png">
<ul>
<li>H-stripe</li>
<li>V-stripe</li>
<li>O-stripe</li>
<li>Plaid</li>
<li>O-Plaid</li>
<li>Point</li>
<li>Leopard</li>
<li>Text</li>
<li>Cartoon</li>
<li>Pop</li>
<li>Floral</li>
<li>Single</li>
</ul>

<ul>
	<li> Density (Parameter)
	<li> Cycle (Parameter)
</ul>

<h4>Upper Clothing Categories</h4>

<ul>
<li>Coat</li>
<li>Dress</li>
<li>Shirt</li>
<li>Suit</li>
<li>T-shirt</li>
<li>Vest</li>
<li>Down Jacket</li>
</ul>

<h4>Lower Clothing Categories</h4>

<ul>
<li>None</li>
<li>Mini-Skirt</li>
<li>Long-Skirt</li>
<li>Shorts</li>
<li>Pants</li>
</ul>

<hr />

<h3>Localization</h3>

<img src="http://i.imgur.com/Ab19ecc.png">

<h3>Dataset</h3>

<p>Manually Selected from <a href="http://vision.is.tohoku.ac.jp/~kyamagu/research/paperdoll/">Fashionista dataset</a>, <a href="http://vision.sysu.edu.cn/projects/clothing-co-parsing/">CCP dataset</a> and more from <a href="http://www.chictopia.com">Chictopia</a> and <a href="https://chicisimo.com/">Chicisimo</a>. </p>
	<hr />
	<h3>Methods</h3>
	<h4>Chain-CRF</h4>
	<img src="http://i.imgur.com/B6ndBSI.png"><br>
	<img src = "http://i.imgur.com/zSr1BRX.png"><br>
	<img src = "http://i.imgur.com/RwdoFbV.png">
	<h4>Deep CNN</h4>
	<img src="http://i.imgur.com/wiHtaq5.png">
	<h4>Dictionary Learning</h4>
	<img src="http://i.imgur.com/C5VQD7Q.png"><br>
	<img src="http://i.imgur.com/Bi2vVlH.png">
	<h4>DPM</h4>
	<img src="http://i.imgur.com/COmdgSK.png">
	<h4>Multiple Output NN</h4>
	<img src="http://i.imgur.com/C0jd75D.png">
<hr />
<h3>Examples</h3>

<table>
<tr>
<td>
<img src='./res/1.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : S
<br>Pattern U : text
<br>Pattern L : plaid
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : S
<br>Pattern U : text
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/2.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : dress
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : floral
<br>Ucategory : dress
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/3.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : vest
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : lskirt
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : N
<br>Pattern U : floral
<br>Pattern L : single
<br>Ucategory : vest
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : lskirt
<br></td>
<td>
<img src='./res/4.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : H
<br>Pattern U : plaid
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : shorts
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : H
<br>Pattern U : plaid
<br>Pattern L : leopard
<br>Ucategory : shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : shorts
<br></td>
</tr>
<tr>
<td>
<img src='./res/5.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : shorts
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : shorts
<br></td>
<td>
<img src='./res/6.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
</tr>
<tr>
<td>
<img src='./res/7.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : floral
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : floral
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/8.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/9.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 2
<br>ClothLen : N
<br>SleeveLen : L
<br>Pattern U : cartoon
<br>Pattern L : single
<br>Ucategory : suit
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : suit
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/10.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : skirt
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : S
<br>Pattern U : text
<br>Pattern L : ostripe
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
</tr>
<tr>
<td>
<img src='./res/11.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : B
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : H
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : H
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/12.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : vest
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : vest
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/13.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Flat-Collar
<br>Skirt : N
<br>Button : B
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : N
<br>Pattern U : floral
<br>Pattern L : single
<br>Ucategory : dress
<br>Tight : N
<br>LowerLen : S
<br>Lcategory : none
<br></td>
<td>Top-down process : <br>Collar : Flat-Collar
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : N
<br>Pattern U : floral
<br>Pattern L : single
<br>Ucategory : dress
<br>Tight : Y
<br>LowerLen : N
<br>Lcategory : none
<br></td>
<td>
<img src='./res/14.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
</tr>
<tr>
<td>
<img src='./res/15.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : vest
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : vest
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/16.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : L
<br>Pattern U : text
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : L
<br>Pattern U : text
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/17.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : H
<br>Pattern U : plaid
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : H
<br>Pattern U : plaid
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/18.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : H
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : H
<br>Pattern U : cartoon
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/19.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 2
<br>ClothLen : N
<br>SleeveLen : H
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : H
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/20.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 2
<br>ClothLen : N
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : hstripe
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
</tr>
<tr>
<td>
<img src='./res/21.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : L
<br>Pattern U : hstripe
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : L
<br>Pattern U : hstripe
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
<td>
<img src='./res/22.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 2
<br>ClothLen : L
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : hstripe
<br>Ucategory : coat
<br>Tight : N
<br>LowerLen : N
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : B
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : coat
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/23.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : B
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : H
<br>Pattern U : point
<br>Pattern L : hstripe
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : B
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : H
<br>Pattern U : point
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/24.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : B
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : S
<br>Pattern U : plaid
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : S
<br>Pattern U : plaid
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/25.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : N
<br>Pattern U : hstripe
<br>Pattern L : single
<br>Ucategory : vest
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : N
<br>Pattern U : hstripe
<br>Pattern L : single
<br>Ucategory : vest
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/26.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : L
<br>Pattern U : plaid
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
</tr>
<tr>
<td>
<img src='./res/27.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : H
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : H
<br>Pattern U : text
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/28.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : L
<br>Pattern U : hstripe
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : L
<br>Pattern U : hstripe
<br>Pattern L : cartoon
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/29.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : H
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : suit
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : suit
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/30.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/31.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Flat-Collar
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : dress
<br>Tight : Y
<br>LowerLen : N
<br>Lcategory : none
<br></td>
<td>Top-down process : <br>Collar : Flat-Collar
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : dress
<br>Tight : Y
<br>LowerLen : N
<br>Lcategory : none
<br></td>
<td>
<img src='./res/32.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : hstripe
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/33.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 2
<br>ClothLen : L
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : dress
<br>Tight : Y
<br>LowerLen : N
<br>Lcategory : none
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : dress
<br>Tight : Y
<br>LowerLen : N
<br>Lcategory : none
<br></td>
<td>
<img src='./res/34.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : H
<br>Pattern U : floral
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : H
<br>Pattern U : floral
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/35.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : N
<br>Lcategory : shorts
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : shorts
<br></td>
<td>
<img src='./res/36.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : B
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : plaid
<br>Ucategory : suit
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : suit
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/37.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
<td>
<img src='./res/38.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : S
<br>Pattern U : vstripe
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : Y
<br>LowerLen : N
<br>Lcategory : shorts
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : S
<br>Pattern U : vstripe
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : shorts
<br></td>
</tr>
<tr>
<td>
<img src='./res/39.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : B
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : S
<br>Pattern U : point
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : skirt
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : S
<br>Pattern U : point
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
<td>
<img src='./res/40.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : N
<br>Pattern U : floral
<br>Pattern L : single
<br>Ucategory : dress
<br>Tight : Y
<br>LowerLen : N
<br>Lcategory : none
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : N
<br>Pattern U : floral
<br>Pattern L : single
<br>Ucategory : dress
<br>Tight : Y
<br>LowerLen : N
<br>Lcategory : none
<br></td>
</tr>
<tr>
<td>
<img src='./res/41.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : B
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : L
<br>Pattern U : point
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : B
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : L
<br>Pattern U : point
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/42.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : H
<br>Pattern U : plaid
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : shorts
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : H
<br>Pattern U : plaid
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : shorts
<br></td>
</tr>
<tr>
<td>
<img src='./res/43.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : shorts
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : shorts
<br></td>
<td>
<img src='./res/44.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : B
<br>Cnt : 2
<br>ClothLen : N
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : suit
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : B
<br>Cnt : 2
<br>ClothLen : N
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : suit
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/45.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : H
<br>Pattern U : floral
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : H
<br>Pattern U : floral
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/46.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : H
<br>Pattern U : single
<br>Pattern L : floral
<br>Ucategory : shirt
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : lskirt
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : H
<br>Pattern U : single
<br>Pattern L : floral
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : lskirt
<br></td>
</tr>
<tr>
<td>
<img src='./res/47.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : pop
<br>Ucategory : vest
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : vest
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/48.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : B
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : H
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
</tr>
<tr>
<td>
<img src='./res/49.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 2
<br>ClothLen : S
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
<td>
<img src='./res/50.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : dress
<br>Tight : N
<br>LowerLen : N
<br>Lcategory : none
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : dress
<br>Tight : N
<br>LowerLen : N
<br>Lcategory : none
<br></td>
</tr>
<tr>
<td>
<img src='./res/51.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 2
<br>ClothLen : N
<br>SleeveLen : H
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : suit
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 2
<br>ClothLen : N
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : suit
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/52.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : skirt
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : S
<br>Pattern U : hstripe
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
</tr>
<tr>
<td>
<img src='./res/53.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : dress
<br>Tight : N
<br>LowerLen : N
<br>Lcategory : none
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : dress
<br>Tight : Y
<br>LowerLen : N
<br>Lcategory : none
<br></td>
<td>
<img src='./res/54.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : L
<br>Pattern U : pop
<br>Pattern L : single
<br>Ucategory : dress
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : L
<br>Pattern U : hstripe
<br>Pattern L : single
<br>Ucategory : dress
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/55.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : L
<br>Pattern U : plaid
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : L
<br>Pattern U : plaid
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/56.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Flat-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : H
<br>Pattern U : text
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : H
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/57.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : S
<br>Button : N
<br>Cnt : 2
<br>ClothLen : S
<br>SleeveLen : H
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
<td>Top-down process : <br>Collar : V-shape
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : H
<br>Pattern U : plaid
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
<td>
<img src='./res/58.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : L
<br>Pattern U : point
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/59.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : H
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : H
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/60.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : vest
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : shorts
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : vest
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : shorts
<br></td>
</tr>
<tr>
<td>
<img src='./res/61.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : coat
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : coat
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/62.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : vest
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : vest
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/63.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : N
<br>Pattern U : floral
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : N
<br>Pattern U : floral
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : Y
<br>LowerLen : S
<br>Lcategory : skirt
<br></td>
<td>
<img src='./res/64.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : vest
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : vest
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/65.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : H
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : H
<br>Pattern U : text
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/66.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/67.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : H
<br>Pattern U : text
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : H
<br>Pattern U : text
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/68.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : leopard
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/69.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/70.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : Y
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : L
<br>Pattern U : floral
<br>Pattern L : single
<br>Ucategory : shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/71.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : N
<br>SleeveLen : L
<br>Pattern U : plaid
<br>Pattern L : single
<br>Ucategory : coat
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Shirt-Collar
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : L
<br>Pattern U : plaid
<br>Pattern L : single
<br>Ucategory : coat
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>
<img src='./res/72.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : B
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : S
<br>Pattern U : floral
<br>Pattern L : single
<br>Ucategory : dress
<br>Tight : Y
<br>LowerLen : N
<br>Lcategory : none
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : N
<br>Pattern U : floral
<br>Pattern L : single
<br>Ucategory : dress
<br>Tight : Y
<br>LowerLen : N
<br>Lcategory : none
<br></td>
</tr>
<tr>
<td>
<img src='./res/73.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : dress
<br>Tight : N
<br>LowerLen : N
<br>Lcategory : none
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : S
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : N
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : dress
<br>Tight : Y
<br>LowerLen : N
<br>Lcategory : none
<br></td>
<td>
<img src='./res/74.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : Round
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : S
<br>SleeveLen : S
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : t-shirt
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</tr>
<tr>
<td>
<img src='./res/75.jpg' width=640 height=320></td>
<td>Bottom-up process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 2
<br>ClothLen : L
<br>SleeveLen : L
<br>Pattern U : single
<br>Pattern L : single
<br>Ucategory : coat
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
<td>Top-down process : <br>Collar : V-shape
<br>Skirt : N
<br>Button : N
<br>Cnt : 1
<br>ClothLen : L
<br>SleeveLen : L
<br>Pattern U : vstripe
<br>Pattern L : vstripe
<br>Ucategory : coat
<br>Tight : N
<br>LowerLen : L
<br>Lcategory : pants
<br></td>
</table>
<script language="javascript" type="text/javascript" src="http://js.users.51.la/18957528.js"></script>
<noscript><a href="http://www.51.la/?18957528" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/18957528.asp" style="border:none" /></a></noscript>
